# SOPS sopsdiffer
*.sops.* diff=sopsdiffer

# git diff NODIFF
lab/envs/prod/provision/ansible/proxmox/inventory/hosts.yml diff=nodiff
lab/envs/stage/provision/ansible/proxmox/inventory/hosts.yml diff=nodiff
