set nss-config-dir=/etc/pki/nssdb/
set smtp-use-starttls
set smtp-auth=plain
set smtp=<SMTP connection endpoint>:25
set from=<from_email_address>
set smtp-auth-user=<OCID from smtp credentials>
set smtp-auth-password=<password from smtp credentials>
