127.0.0.1 localhost.localdomain localhost
{{ pve_ip }} {{ pve_hostname }}.{{ public_domain }} {{ pve_hostname }}

# Corosync Network Hosts
{{ coro_ip_1 }} coro-01.{{ public_domain }} coro-01
{{ coro_ip_2 }} coro-02.{{ public_domain }} coro-02
{{ coro_ip_3 }} coro-03.{{ public_domain }} coro-03

# Ceph Network Hosts
{{ ceph_ip_1 }} ceph-01.{{ public_domain }} ceph-01
{{ ceph_ip_2 }} ceph-02.{{ public_domain }} ceph-02
{{ ceph_ip_3 }} ceph-03.{{ public_domain }} ceph-03

# PVE Network Hosts
{{ pve_ip_1 }} pve-01.{{ public_domain }} pve-01
{{ pve_ip_2 }} pve-02.{{ public_domain }} pve-02
{{ pve_ip_3 }} pve-03.{{ public_domain }} pve-03

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts