# Loopback Interface
auto lo
iface lo inet loopback

# Default Linux-Bridge Network
iface eno1 inet manual
        mtu 1500

auto vmbr0
iface vmbr0 inet static
        address {{ pve_ip }}/24
        gateway {{ gateway_ip }}
        bridge-ports eno1
        bridge-stp off
        bridge-fd 0
        mtu 1500

# Corosync Network
auto {{ coro_iface }}
iface {{ coro_iface }} inet dhcp
        mtu 1500

# Ceph OVS-Bond Network
auto {{ ceph_iface_1 }}
iface {{ ceph_iface_1 }} inet manual
        ovs_mtu 9000

auto {{ ceph_iface_2 }}
iface {{ ceph_iface_2 }} inet manual
        ovs_mtu 9000

auto bond0
iface bond0 inet manual
        ovs_bridge vmbr1
        ovs_type OVSBond
        ovs_bonds {{ ceph_iface_1 }} {{ ceph_iface_2 }}
        ovs_options bond_mode=balance-tcp lacp=active other_config:lacp-time=fast
        ovs_mtu 9000

# Ceph OVS-Bridge
auto vmbr1
iface vmbr1 inet manual
        ovs_type OVSBridge
        ovs_ports bond0 ceph
        ovs_mtu 9000

# Ceph Cluster Communication VLAN
auto ceph
iface ceph inet static
        ovs_type OVSIntPort
        ovs_bridge vmbr1
        address {{ ceph_ip }}/24
        ovs_mtu 9000
