127.0.0.1 localhost.localdomain localhost
{{ pve_ip }} {{ hostname }}.{{ public_domain }} {{ hostname }}

# Corosync Network Hosts
10.23.11.11 coro-01.{{ public_domain }} coro-01
10.23.11.12 coro-02.{{ public_domain }} coro-02
10.23.11.13 coro-03.{{ public_domain }} coro-03

# Ceph Network Hosts
10.23.10.11 ceph-01.{{ public_domain }} ceph-01
10.23.10.12 ceph-02.{{ public_domain }} ceph-02
10.23.10.13 ceph-03.{{ public_domain }} ceph-03

# PVE Network Hosts
10.23.2.11 pve-01.{{ public_domain }} pve-01
10.23.2.12 pve-02.{{ public_domain }} pve-02
10.23.2.13 pve-03.{{ public_domain }} pve-03

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
